<nav class="navbar">
    <div class="container">
        <a href="/" class="logo">Voyager</a>
        <ul class="nav-links">
            <li><a href="/login" id="login-btn">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </div>
</nav>
