<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

 <%- include('partials/navbar') %>

<section class="hero">
    <div class="hero-overlay">
        <h1 class="hero-title">Stay Your Way, Anywhere You Go</h1>
    </div>
</section>

<section class="search-section">
    <div class="container">
        <form action="/hotels" method="GET" class="search-form">
            
            <button type="submit" class="search-btn">Search Hotels</button>
        </form>
    </div>
</section>

<%- include('partials/footer') %>

</body>

</html>
